# Dependências
node_modules/

# Build
dist/
build/
.next/

# Logs
logs/
*.log
npm-debug.log*

# Variáveis de ambiente
.env
.env.docker
.env.local

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
prisma/migrations/

# TypeScript
*.tsbuildinfo